@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root{
  --backcolor : #1d1d1f;
  --fontcolor : #17f1d1;
  --buttoncolor: #a374ff;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Dela Gothic One', cursive;
}

html{
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--backcolor);
}

#toggle {
  display: none;
}

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 80px;
  right: 5%;
  margin-left: -1em;
  margin-top: -2.825em;
  width: 32px;
  height: 45px;
  z-index: 100000;
}

.hamburger div {
  position: relative;
  width: 48px;
  height: 7px;
  border-radius: 3px;
  background-color: var(--fontcolor);
  margin-top: 0.5em;
  transition: all 0.3s ease-in-out;
}

.nav {
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: white;
  top: -100%;
  left: 50%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  border-radius: 20px;
  z-index: 5;
  opacity: 90%;
}

.nav-wrapper {
  position: sticky;
  overflow-y: auto;
  height: 100%;
}

nav {
  text-align: left;
  margin-left: 15%;
}

nav a {
  position: relative;
  text-decoration: none;
  color: var(--backcolor);
  font-size: 6.625rem;
  display: inline-block;
  margin-top: 0.25em;
  letter-spacing: 1px;
  /* opacity: 100%; */
}

nav a:hover {
  color: var(--buttoncolor);
}

#toggle:checked + .hamburger .bar1 {
  transform: rotate(-45deg);
  margin-top: 1.5625em;
}

#toggle:checked + .hamburger .bar3 {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked + .hamburger .bar2 {
  transform: rotate(45deg);
  margin-top: -0.5em;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
  overflow: hidden;
}

.logo a{
  text-decoration: none;
  font-size: 3.125rem;
  color: var(--fontcolor);
  text-align: left;
  left: 5%;
  position: absolute;
  top: 20px;
}

.greet {
  align-items: center;
  display: flex;
  margin-top: 14.75em;
}

.hello h2 {
  font-size: 6.5rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: white
}

.hello h4 {
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
  color: var(--fontcolor);
  animation: 1s flicker infinite;
}

.hello h4 span{
  font-family: "Courier New", Courier, monospace;
  color:var(--buttoncolor);
}

.me{
  margin-left: 3.125em;
}

.me img{
  width: 400px;
  border-radius: 34% 66% 65% 35% / 24% 41% 59% 76%;
}

.intro{
  display: flex;
  justify-content: center;
}

.about{
  word-spacing: 10px;
  color: white;
  margin: 6.25em 6.25em 0 6.25em;
  text-align: center;
  font-size: 30px;
}

.about p span{
  color:var(--buttoncolor);
}

@keyframes xdir {
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateX(-30px);
  }
	60% {
   transform: translateX(-35px);
  }
}

.resume{
  width: 90%;
}

.resume p{
  color: white;
  float: right;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1em 1.5em;
  border: 2px solid var(--fontcolor);
  border-radius: 100px;
  animation: xdir 2s infinite;
}

.resume p:hover{
  background-color: var(--fontcolor);
  color: var(--backcolor);
}

.project-about {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3.125em;
}

.project h1 {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 3px;
  color: var(--fontcolor);
  margin-top: 4.5em;
  padding-bottom: 3.75em;
}

.proj a img {
  height: 450px;
  width: 450px;
  border-radius: 40px;
}

.proj h3 a {
  text-decoration: none;
  font-size: 2.2rem;
  letter-spacing: 4px;
  color: var(--buttoncolor);
}

.about-proj {
  max-width: 650px;
  color: white;
  font-size: 2rem;
  letter-spacing: 1.5px;
  line-height: 50px;
  word-spacing: 5px;
  text-align: left;
}

.gitpro{
  margin-top: 3.125em;
}

.gitpro a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1em 1.5em;
  border: 2px solid var(--fontcolor);
  border-radius: 100px;
}

.gitpro a:hover{
  color: var(--backcolor);
  background-color: var(--fontcolor);
}

@keyframes flicker
{
0% {opacity:0;}
9% {opacity:0;}
10% {opacity:.5;}
13% {opacity:0;}
20% {opacity:.5;}
25% {opacity:1;}
}

.skills{
  display: flex;
  justify-content: space-between;
  margin: 1em 6.25em;
}

.skills img{
  height: 100px;
  cursor: pointer;
}

.hire-me{
  display: flex;
  align-items: center;
  margin: 7.5em;
  justify-content: space-evenly;
}

.ask h1 {
  font-size: 6.25rem;
  color: white;
}

.ask h1 p{
  width: 100px;
}

.gt a{
  text-decoration: none;
}

.gt a p{
  color: white;
  font-size: 2rem;
  padding: 1em 2.2em;
  border: 2px solid var(--buttoncolor);
  border-radius: 100px;
  background-color: var(--buttoncolor);
  animation: xdir 2s infinite;
}

.gt a p:hover{
  background-color: transparent;
}

.forms{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-field{
  padding-top: 20px;
  font-size: 1.625rem;
  color: white;
}

.label{
  padding-left: 1.875em;
}

.form-field input{
  background-color: transparent;
  border-color: var(--fontcolor);
  font-size: 2rem;
  font-display: inherit;
  padding-top: 1em;
  border-radius: 30px;
}

.input-text{
  color: #fff;
  padding: 0 0 1em 1em;
}

.submit{
  display: flex;
  justify-content: space-around;
  padding-top: 1.875em;
}

.submit-btn{
  border-color: var(--buttoncolor);
  font-size: 2rem;
  color: white;
  font-display: inherit;
  background-color: transparent;
  padding: 1em;
  cursor: pointer;
  border-radius: 30px;
}

.submit-btn:hover{
  background-color: var(--buttoncolor);
  color: var(--backcolor);
}

footer {
  position: relative;
  width: 100%;
  background: var(--fontcolor);
  min-height: 200px;
  padding: 1.25em 2.125em;
  display: flex;
  margin-top: 7.5em;
  justify-content: center;
  align-items: center;
  border-radius: 30% 30% 0 0;
  flex-direction: column;
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.social-icon__item{
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 0.5em;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.pro{
  height: 46px;
  padding-left: 1em;
}

footer p {
  color: var(--backcolor);
  margin: 1em 0 0.5em 0;
  font-size: 3rem;
  font-weight: 300;
}