@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(45deg, #c3eee4, #d6e3f8, #f5edf1, #b1d8e6);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 16px;
}
